@model Book

@{
    ViewData["Title"] = "Edit";
}
<hr />
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h2>Edit Book</h2>
        <p>Here you can edit book</p>
        <form asp-action="Edit">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="Id" class="mdl-textfield__label"></label>
                <input asp-for="Id" readonly class="mdl-textfield__input" />
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="Title" class="mdl-textfield__label"></label>
                <input asp-for="Title" class="mdl-textfield__input" />
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="Author" class="mdl-textfield__label"></label>
                <input asp-for="Author" class="mdl-textfield__input" />
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="Category" class="mdl-textfield__label"></label>
                <input asp-for="Category" class="mdl-textfield__input" />
            </div>
            <div>
                <input type="submit" value="Update"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
                <a asp-action="Index"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back to
                    List</a>
            </div>
        </form>
    </div>
</div>